body{
background-color: #1a355b;

}

.ContainerHome{
margin: 0;
box-sizing: border-box;
/* background-color: #1a355b; */
justify-content: center;
align-items: center;
}

.titleHome{
font-family: Roboto;
font-size: 5rem;
color: #fff;
}